<!doctype html>
<html  lang="en">

<head>
    <meta charset="UTF-8">
    <title>@ViewBag.MyMessageToUsers</title>
    <link rel="icon" type="image/x-icon" href="/Scripts/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/Scripts/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
</head>

<body>
    <app><i class="fa fa-spinner fa-spin"></i>Loading...</app>
    <script src="Scripts/js/polyfills.js"></script>
    <script src="Scripts/js/vendor.js"></script>
    <script src="Scripts/js/app.js"></script>

</body>
</html>
